body, .nav {color: black; background-color: #eee; margin-bottom: 0;}
.ext {color: blue; text-decoration: underline; cursor: pointer;}
.nav {position: -webkit-sticky; position: sticky; z-index: 1; bottom: 0;}
.nav a {color: red;}
